.about__wrapper {
  margin: 0;
  padding: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
}

.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
}
