.catalog-cards__wrapper {
  padding: 30px;
  max-width: 1050px;
  margin: 0 auto;
}

.catalog-cards__inner {
  background-color: hsl(0, 0%, 95%);
}

.catalog-cards__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;
  max-width: 1150px;
}

.catalog-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: auto;
  row-gap: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-cards__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 75px;
  }

  .catalog-cards__list {
    row-gap: 54px;
  }

  .catalog-cards__wrapper {
    padding: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-cards__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 102px;
    padding-bottom: 95px;
  }

  .catalog-cards__list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 52px;
    margin-bottom: 52px;
  }
}
