.contacts__wrapper {
  padding: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  color: hsl(0, 0%, 27%);
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

.contacts__button {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
