.main-header {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  min-height: 79px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    min-height: 89px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    min-height: 89px;
  }
}
