.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  background-image: url("/img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% cover;
}

.main-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 73px 0 120px 0;
}
