.main-header {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  max-width: 1150px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  min-height: 79px;
  min-width: 200px;
}

.main-header__text {
  display: none;
}

.bonus-list {
  display: none;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-left: 50px;
    padding-right: 50px;
  }


  .main-header__logo {
    min-height: 89px;
    margin: 0;
    order: 0;
  }

  .main-navigation {
    display: flex;
  }

  .user-list {
    display: flex;
    order: 1;
  }

  .user-list__item {
    min-width: 82px;
  }

  .user-list__link {
    padding: 36px 31px 34px 33px;
    cursor: pointer;
  }

  .user-list__text-search {
    display: none;
  }

  .user-list__text-cart {
    margin-left: 30px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .site-list {
    display: flex;
    order: 2;
  }

  .main-header__text {
    display: block;
    font-weight: 400;
    margin: 0;
    position: absolute;
    right: 50px;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
  }

  .main-header__logo {
    order: 1;
  }

  .bonus-list {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    order: 3;
    min-width: 500px;
  }

  .bonus-list__link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
  }
}
