.reviews {
  margin: 0 auto;
}

.reviews__wrapper {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  color: hsl(0, 0%, 27%);
}

.reviews__author {
  font-weight: 700;
}

.reviews__author-name {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("/img/review.jpg");
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
  }

  .reviews__title {
    order: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .slider__button {
    order: 1;
    font-size: 17px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__toggles {
    position: absolute;
    margin: auto;
    top: 80%;
    right: 10%;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
