.slider__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .slider__button {
    order: 1;
    font-size: 17px;
  }
}
