@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  background-color: #ffffff;
  color: black;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
}

.main-header {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  min-height: 79px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-header__logo {
    min-height: 89px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .main-header__logo {
    min-height: 89px;
  }
}
@media (min-width: 768px) {
  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  background-color: #ffffff;
  background-image: url("/img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, cover;
}

.main-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 73px 0 120px 0;
}

@media (min-width: 768px) {
  .main-container__title {
    padding: 155px 0 372px 0;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .main-container__title {
    padding: 157px 0 355px 0;
    font-size: 53px;
    line-height: 57px;
  }
}
.catalog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    flex-direction: row;
    margin: 0 auto;
  }
}
.catalog__decor {
  background-color: #62d0ba;
  padding-top: 24px;
  padding-bottom: 31px;
  width: 320px;
}

@media (min-width: 768px) {
  .catalog__decor {
    width: 334px;
  }
}
@media (min-width: 1150px) {
  .catalog__decor {
    width: 525px;
  }
}
.catalog__toy {
  background-color: #55c3b3;
  padding-top: 24px;
  padding-bottom: 31px;
  width: 320px;
}

@media (min-width: 768px) {
  .catalog__toy {
    width: 334px;
  }
}
@media (min-width: 1150px) {
  .catalog__toy {
    width: 525px;
  }
}
.catalog__card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog__card {
    display: grid;
    grid-template-columns: 292px 334px;
    grid-template-rows: 50px 90px 120px 24px 52px;
    row-gap: 33px;
    column-gap: 42px;
  }

  .catalog__card-title {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .catalog__card-best {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .catalog__card-about {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .catalog__property {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .catalog__card-image {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .catalog__card-prize {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .catalog__card__button {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 1150px) {
  .catalog__card {
    display: grid;
    grid-template-columns: 100px 292px 525px;
    grid-template-rows: 57px 90px 120px 24px 52px;
    row-gap: 33px;
    column-gap: 43px;
  }

  .catalog__card-best {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .catalog__card-about {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .catalog__property {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .catalog__card-image {
    grid-column: 3/4;
    grid-row: 1/6;
  }

  .catalog__card-title {
    grid-column: 2/4;
    grid-row: 1/2;
    z-index: 1;
  }

  .catalog__card-prize {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .catalog__card__button {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}
.catalog__card-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
}

@media (min-width: 768px) {
  .catalog__card-title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .catalog__card-title {
    font-size: 53px;
    line-height: 57px;
  }
}
.catalog__card-best {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #62d0ba;
  align-items: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .catalog__card-best {
    line-height: 17px;
  }
}
.catalog__card-about {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #454545;
  max-width: 292px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .catalog__card-about {
    font-size: 17px;
    line-height: 30px;
  }
}
.catalog__card-property {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #454545;
  align-items: center;
}

.catalog__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.catalog__card-prize {
  color: #444444;
}

.catalog__card__button {
  color: #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  max-width: 292px;
  height: 52px;
}

.production__product-name {
  color: black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.production__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #454545;
}

.production__form-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  text-decoration: none;
}

.about {
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
}

@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.about__list {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  row-gap: 32px;
}

@media (min-width: 768px) {
  .about__list {
    grid-template-columns: 265px 325px;
    grid-template-rows: 100px 100px 100px;
    row-gap: 55px;
    column-gap: 70px;
    font-size: 20px;
    line-height: 22px;
  }
}
.reviews {
  margin: 0 auto;
}

.reviews__wrapper {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  color: #454545;
}

.reviews__author {
  font-weight: 700;
}

.reviews__author-name {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  font-style: normal;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("/img/review.jpg");
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
  }

  .reviews__title {
    order: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .slider__button {
    order: 1;
    font-size: 17px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__toggles {
    position: absolute;
    margin: auto;
    top: 80%;
    right: 10%;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.slider__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts {
  margin: 0 auto;
  padding: 0;
}

.contacts__wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #454545;
  display: grid;
  grid-template-columns: 30px 1fr 2fr 30px;
  grid-row: auto;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: black;
  padding: 0;
  margin: 0;
  grid-column: 2/4;
  grid-row: 1/2;
}

.contacts__email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.contacts__email-text {
  grid-column: 3/4;
  grid-row: 2/3;
}

.contacts__adress {
  grid-column: 2/3;
  grid-row: 3/4;
}

.contacts__adress-text {
  grid-column: 3/4;
  grid-row: 3/4;
}

.contacts__button {
  color: #454545;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  grid-column: 2/4;
  grid-row: 6/7;
}

.contacts__map {
  grid-column: 1/-1;
  grid-row: 4/6;
}

.contacts__map-tablet {
  display: none;
}

.contacts__map-desktop {
  display: none;
}

@media (min-width: 768px) {
  .contacts__map-mobile {
    display: none;
  }

  .contacts__map-tablet {
    display: block;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__text {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__email {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .contacts__email-text {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .contacts__adress {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .contacts__adress-text {
    grid-column: 5/6;
    grid-row: 2/3;
  }

  .contacts__button {
    font-size: 17px;
    grid-column: 2/6;
    grid-row: 6/7;
  }

  .contacts__wrapper {
    grid-template-columns: 30px 1fr 2fr 1fr 2fr 30px;
    grid-row: auto;
  }
}
@media (min-width: 1150px) {
  .contacts__map-mobile {
    display: none;
  }

  .contacts__map-tablet {
    display: none;
  }

  .contacts__map-desktop {
    display: block;
  }

  .contacts__map {
    grid-column: 4/5;
    grid-row: 1/7;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .contacts__email {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .contacts__email-text {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .contacts__adress {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .contacts__adress-text {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .contacts__button {
    grid-column: 2/4;
    grid-row: 6/7;
    text-align: left;
  }

  .contacts__wrapper {
    grid-template-columns: 250px 1fr 2fr 3fr 30px;
    grid-row: auto;
  }
}
.main-footer {
  margin: 0 auto;
  min-width: 320px;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 170px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
}

.main-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .main-footer__logo {
    display: block;
  }

  .main-footer__wrapper {
    justify-content: space-between;
    padding: 50px;
  }
}
.catalog-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}

.catalog-cards__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.catalog-card__product-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.catalog-card__link-name {
  text-decoration: none;
}

.catalog-card__data {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #454545;
}

.catalog-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog-card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #454545;
}

.catalog-card__form-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #454545;
  text-transform: uppercase;
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}

.form-catalog__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.form-catalog__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #454545;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #62d0ba;
  text-transform: uppercase;
}

.catalog-filter__control-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filter__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filter__require {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #454545;
}

.catalog-filter__button {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #454545;
  font-family: inherit;
}
/*# sourceMappingURL=style.css.map */